name: Process Builder

# Reference documentation: https://docs.github.com/en/actions/reference
on: [push, pull_request]

jobs:
  deploy:
    runs-on: ubuntu-22.04
    name: Build and deploy to gh-pages
    if: ${{ github.repository == 'w3c/w3process' && github.event_name == 'push' }}
    env:
      GITHUB_TOKEN: ${{ secrets.W3CGRUNTBOT_TOKEN }}
      GH_BRANCH: ${{ github.head_ref }}
      GH_EVENT_NUMBER: ${{ github.event.number }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Setup python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: 3.10
          architecture: x64
      - name: Install bikeshed
        run: |
          pip install bikeshed
          bikeshed update
          echo Bikeshed is ready
      - name: invoke deploy.sh
        run: ./deploy.sh
        shell: bash
  build:
    runs-on: ubuntu-22.04
    name: Check that the Process builds cleanly
    if: ${{ github.repository != 'w3c/w3process' || github.event_name == 'pull_request' }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v2
      - name: Setup python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: 3.10
          architecture: x64
      - name: Install bikeshed
        run: |
          pip install bikeshed
          bikeshed update
          echo Bikeshed is ready
      - name: invoke compile.sh
        run: ./compile.sh
        shell: bash
